.my-order-child,
.my-order-child1,
.my-order-inner,
.my-order-item {
    position: absolute;
    top: 1126px;
    left: 516px;
    background-color: var(--color-dodgerblue);
    width: 288px;
    height: 78px;
}

.my-order-child1,
.my-order-inner,
.my-order-item {
    top: 316px;
    left: 1075px;
    border-radius: var(--br-xs);
    width: 188px;
    height: 64px;
}

.my-order-child1,
.my-order-inner {
    top: 533px;
}

.my-order-child1 {
    top: 750px;
}

.my-order-child2,
.my-order-child3,
.my-order-child4 {
    position: absolute;
    top: 316px;
    left: 861px;
    border-radius: var(--br-xs);
    border: 1px solid var(--second-hover);
    box-sizing: border-box;
    width: 202px;
    height: 64px;
}

.my-order-child3,
.my-order-child4 {
    top: 533px;
}

.my-order-child4 {
    top: 750px;
}

.my-order-child5 {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe10,
.emagz22 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz22 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-parent8 {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child86 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child86,
.rectangle-wrapper9 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon85,
.vector-icon86,
.vector-icon87,
.vector-icon88,
.vector-icon89 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon86,
.vector-icon87,
.vector-icon88,
.vector-icon89 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon87,
.vector-icon88,
.vector-icon89 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon88,
.vector-icon89 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon89 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon21 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz23 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-child9,
.vector-icon90,
.vector-icon91 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon90,
.vector-icon91 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon91 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent23,
.new-logo12 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent23 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.my-order-child6,
.my-order-child7 {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.my-order-child7 {
    height: 2.99%;
    width: 2.93%;
    top: 2.54%;
    right: 23.71%;
    bottom: 94.47%;
    left: 73.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.my-order-child8,
.user-icon10 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.my-order-child8 {
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app10 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container10 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.div49,
.my-account7,
.my-order5 {
    position: absolute;
    top: 171px;
    left: 102px;
    font-size: var(--title-desktop-size);
    font-weight: 600;
}

.div49,
.my-order5 {
    left: 284px;
}

.my-order5 {
    left: 318px;
}

.my-order-child10,
.my-order-child11,
.my-order-child9 {
    position: absolute;
    top: 271px;
    left: 74px;
    border-radius: var(--br-xl);
    width: 185px;
    height: 181px;
    object-fit: cover;
}

.my-order-child10,
.my-order-child11 {
    top: 488px;
}

.my-order-child11 {
    top: 705px;
}

.div50,
.div51,
.div52,
.the-product6,
.the-product7,
.the-product8 {
    position: absolute;
    top: 272px;
    left: 284.84px;
    font-weight: 600;
    display: inline-block;
    width: 202.03px;
    height: 50.51px;
}

.div50,
.div51,
.div52,
.the-product7,
.the-product8 {
    top: 489px;
}

.div50,
.div51,
.div52,
.the-product8 {
    top: 706px;
}

.div50,
.div51,
.div52 {
    top: 311px;
    left: 594px;
    width: 163.84px;
}

.div51,
.div52 {
    top: 528px;
}

.div52 {
    top: 745px;
}

.cancle-order,
.return1,
.return2,
.support3,
.support4,
.support5 {
    position: absolute;
    top: 337px;
    left: 901px;
    font-size: var(--sub-title-desktop-size);
    font-weight: 500;
    display: inline-block;
    width: 121px;
    height: 23px;
}

.return1,
.return2,
.support3,
.support4,
.support5 {
    top: 554px;
    left: 926px;
    width: 69px;
}

.return2,
.support3,
.support4,
.support5 {
    top: 770px;
    left: 929px;
    width: 66px;
}

.support3,
.support4,
.support5 {
    top: 336px;
    left: 1132px;
    color: var(--color-white);
    width: 73px;
    height: 25px;
}

.support4,
.support5 {
    top: 553px;
    left: 1124px;
}

.support5 {
    top: 770px;
}

.deliver-on-226,
.deliver-on-227,
.deliver-on-228,
.qty-014,
.qty-015,
.qty-016 {
    position: absolute;
    top: 364.13px;
    left: 284px;
    font-size: var(--font-size-11xl);
    font-weight: 500;
    display: inline-block;
    width: 203.26px;
    height: 28.33px;
}

.deliver-on-227,
.deliver-on-228,
.qty-014,
.qty-015,
.qty-016 {
    top: 581.13px;
}

.deliver-on-228,
.qty-014,
.qty-015,
.qty-016 {
    top: 798.13px;
}

.qty-014,
.qty-015,
.qty-016 {
    top: 329.13px;
    left: 286px;
}

.qty-015,
.qty-016 {
    top: 546.13px;
}

.qty-016 {
    top: 763.13px;
}

.my-order-child12,
.my-order-child13,
.my-order-child14 {
    position: absolute;
    top: 409px;
    left: 277.86px;
    width: 35px;
    height: 35px;
}

.my-order-child13,
.my-order-child14 {
    top: 626px;
}

.my-order-child14 {
    top: 843px;
}

.my-order-child15,
.my-order-child16,
.my-order-child17 {
    position: absolute;
    top: 409px;
    left: 323.86px;
    width: 35px;
    height: 35px;
}

.my-order-child16,
.my-order-child17 {
    top: 626px;
}

.my-order-child17 {
    top: 843px;
}

.my-order-child18,
.my-order-child19,
.my-order-child20 {
    position: absolute;
    top: 409px;
    left: 369.86px;
    width: 35px;
    height: 35px;
}

.my-order-child19,
.my-order-child20 {
    top: 626px;
}

.my-order-child20 {
    top: 843px;
}

.my-order-child21,
.my-order-child22,
.my-order-child23 {
    position: absolute;
    top: 409px;
    left: 415.86px;
    width: 35px;
    height: 35px;
}

.my-order-child22,
.my-order-child23 {
    top: 626px;
}

.my-order-child23 {
    top: 843px;
}

.my-order-child24,
.my-order-child25,
.my-order-child26 {
    position: absolute;
    top: 409px;
    left: 461.86px;
    width: 35px;
    height: 35px;
}

.my-order-child25,
.my-order-child26 {
    top: 626px;
}

.my-order-child26 {
    top: 843px;
}

.rate-now4 {
    position: absolute;
    top: 412px;
    display: inline-block;
}

.rate-now4,
.rate-now5,
.rate-now6 {
    left: 528px;
    font-size: var(--font-size-16xl);
    font-weight: 500;
    width: 94.2px;
}

.rate-now5 {
    position: absolute;
    top: 629px;
    display: inline-block;
}

.rate-now6 {
    top: 846px;
}

.add-more-to,
.rate-now6,
.shop-more1 {
    position: absolute;
    display: inline-block;
}

.add-more-to {
    top: 1031px;
    left: 386px;
    font-size: var(--font-size-32xl);
    font-weight: 600;
    width: 573px;
    height: 69px;
}

.shop-more1 {
    top: 1144px;
    left: 585px;
    font-size: var(--font-size-24xl);
    color: var(--color-white);
    width: 150.96px;
    height: 42px;
}

.my-order4 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1337px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-28xl);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}