.profle-child {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe,
.emagz {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-parent {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child,
.rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon2,
.vector-icon3,
.vector-icon4 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon3,
.vector-icon4 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon4 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz1 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-child,
.vector-icon5,
.vector-icon6 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon5,
.vector-icon6 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon6 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent,
.new-logo {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.profle-inner,
.profle-item {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.profle-inner {
    height: 3.81%;
    width: 2.93%;
    top: 1.73%;
    right: 23.57%;
    bottom: 94.47%;
    left: 73.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.profle-child1,
.user-icon {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.profle-child1 {
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.ellipse-icon {
    position: absolute;
    top: 250px;
    left: 92px;
    width: 184px;
    height: 184px;
    object-fit: cover;
}

.e-mail,
.gender,
.name,
.phone-number {
    position: absolute;
    top: 212px;
    left: 343px;
    font-weight: 600;
    display: inline-block;
    width: 95px;
    height: 38px;
}

.e-mail,
.gender,
.phone-number {
    top: 378px;
    left: 340px;
    width: 221px;
}

.e-mail,
.gender {
    left: 719px;
}

.gender {
    top: 212px;
    left: 730px;
    width: 123px;
}

.profle-child2,
.profle-child3,
.rectangle-div {
    position: absolute;
    top: 278px;
    left: 336px;
    background-color: var(--color-whitesmoke-200);
    width: 332px;
    height: 67px;
}

.profle-child2,
.profle-child3 {
    top: 435px;
    left: 340px;
    width: 359px;
    height: 75px;
}

.profle-child3 {
    left: 719px;
    width: 518px;
}

.edit,
.frame-child {
    position: relative;
    width: 14.4px;
    height: 22.54px;
    flex-shrink: 0;
}

.edit {
    font-weight: 600;
    display: inline-block;
    width: 58px;
    height: 38px;
}

.vector-parent {
    position: absolute;
    top: 463px;
    left: 142px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.group-item {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    width: 346px;
    height: 108px;
}

.my-order {
    position: absolute;
    top: 35px;
    left: 125px;
    font-weight: 600;
}

.package-icon {
    position: absolute;
    top: 29px;
    left: 65px;
    width: 48px;
    height: 48px;
}

.rectangle-parent {
    position: absolute;
    top: 631px;
    left: 84px;
    width: 346px;
    height: 108px;
    color: var(--color-white);
}

.group-inner {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: radial-gradient(50% 50%at 50% 50%, #4d50b6 3.07%, #090770);
    width: 389px;
    height: 108px;
}

.manage-address {
    position: absolute;
    top: 2px;
    left: 55px;
    font-weight: 600;
}

.mappin-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 43px;
    height: 43px;
}

.manage-address-parent,
.rectangle-group {
    position: absolute;
    top: 35px;
    left: 50px;
    width: 289px;
    height: 43px;
}

.rectangle-group {
    top: 631px;
    left: 475px;
    width: 389px;
    height: 108px;
    color: var(--color-white);
}

.group-child1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: linear-gradient(49.76deg, #c02 31.44%, #ff8db6 77.22%);
    width: 346px;
    height: 108px;
}

.payment {
    position: absolute;
    top: 32px;
    left: 143px;
    font-weight: 600;
}

.creditcard-icon {
    position: absolute;
    top: 26px;
    left: 78px;
    width: 50px;
    height: 50px;
}

.group-child2,
.rectangle-container {
    position: absolute;
    width: 346px;
    height: 108px;
}

.rectangle-container {
    top: 631px;
    left: 901px;
    color: var(--color-white);
}

.group-child2 {
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: linear-gradient( 235.29deg, #020aff 2.86%, #23a3ff 35.19%, #2489d2 65.66%, #020eff 85.43%);
}

.wishlist {
    position: absolute;
    top: 38px;
    left: 132px;
    font-weight: 600;
}

.heart-icon {
    position: absolute;
    top: 35px;
    left: 71px;
    width: 44px;
    height: 44px;
}

.group-child3,
.group-div {
    position: absolute;
    height: 108px;
}

.group-div {
    top: 785px;
    left: 76px;
    width: 346px;
    color: var(--color-white);
}

.group-child3 {
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: linear-gradient(234.92deg, #46f2db, #00a498 67.33%);
    width: 395px;
}

.my-coupans {
    position: absolute;
    top: 31px;
    left: 149px;
    font-weight: 600;
}

.ticket-icon {
    position: absolute;
    top: 29px;
    left: 74px;
    width: 44px;
    height: 44px;
}

.group-child4,
.rectangle-parent1 {
    position: absolute;
    width: 395px;
    height: 108px;
}

.rectangle-parent1 {
    top: 785px;
    left: 469px;
    color: var(--color-white);
}

.group-child4 {
    top: 0;
    left: 0;
    border-radius: var(--br-2xl);
    background: linear-gradient(235.35deg, #ffbe4e, #e35b00 75.63%);
}

.my-reviews {
    position: absolute;
    top: 33px;
    left: 86px;
    font-weight: 600;
}

.star-icon {
    position: absolute;
    top: 32px;
    left: 27.05px;
    width: 43px;
    height: 43px;
}

.rectangle-parent2 {
    position: absolute;
    top: 785px;
    left: 895px;
    width: 395px;
    height: 108px;
    color: var(--color-white);
}

.group-child5 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--danger-log);
    width: 453px;
    height: 96px;
}

.log-out {
    position: absolute;
    top: 27px;
    left: 175px;
    font-weight: 600;
}

.rectangle-parent3 {
    position: absolute;
    top: 1027px;
    left: 443px;
    width: 453px;
    height: 96px;
    color: var(--color-white);
}

.my-account {
    position: absolute;
    top: 171px;
    left: 102px;
    font-weight: 600;
}

.group-child6 {
    position: absolute;
    top: 1.41px;
    left: 0;
    width: 27.59px;
    height: 27.59px;
}

.male {
    position: absolute;
    top: 0;
    left: 45.98px;
    font-weight: 600;
    display: inline-block;
    width: 47.39px;
}

.ellipse-parent {
    position: absolute;
    top: 296px;
    left: 732px;
    width: 93.37px;
    height: 29px;
    font-size: var(--font-size-15xl);
}

.female {
    position: absolute;
    top: 0;
    left: 45.98px;
    font-weight: 600;
    display: inline-block;
    width: 72.15px;
}

.ellipse-group {
    position: absolute;
    top: 296px;
    left: 855.07px;
    width: 118.12px;
    height: 29px;
    font-size: var(--font-size-15xl);
}

.not-prefer-to {
    position: absolute;
    top: 0;
    left: 46px;
    font-weight: 600;
    display: inline-block;
    width: 163px;
}

.ellipse-container {
    position: absolute;
    top: 296px;
    left: 1003px;
    width: 209px;
    height: 29px;
    font-size: var(--font-size-15xl);
}

.div,
.maya-jonson,
.mayajonson98gmailcom {
    position: absolute;
    top: 296px;
    left: 424px;
    font-size: var(--sub-title-desktop-size);
    font-weight: 500;
    display: inline-block;
    width: 122px;
    height: 31px;
}

.div,
.mayajonson98gmailcom {
    top: 462px;
    left: 430px;
    width: 163px;
}

.mayajonson98gmailcom {
    top: 466px;
    left: 774px;
    width: 257px;
}

.profle-child4 {
    position: absolute;
    top: 304px;
    left: 861px;
    width: 15px;
    height: 14px;
}

.profle {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1337px;
    overflow: hidden;
    text-align: left;
    font-size: var(--title-desktop-size);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}