.categories-child {
    position: absolute;
    top: 155px;
    left: 0;
    width: 1565px;
    height: 532px;
    object-fit: cover;
}

.categories-item {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe13,
.emagz28 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz28 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-parent11 {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child102 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child102,
.rectangle-wrapper12 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon106,
.vector-icon107,
.vector-icon108,
.vector-icon109,
.vector-icon110 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon107,
.vector-icon108,
.vector-icon109,
.vector-icon110 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon108,
.vector-icon109,
.vector-icon110 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon109,
.vector-icon110 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon110 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon24 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz29 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-child12,
.vector-icon111,
.vector-icon112 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon111,
.vector-icon112 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon112 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent26,
.new-logo15 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent26 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.categories-inner {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.categories-child1 {
    position: absolute;
    height: 0.53%;
    width: 2.93%;
    top: 0.43%;
    right: 24.11%;
    bottom: 99.04%;
    left: 72.95%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.user-icon13 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.categories-child2 {
    position: absolute;
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app13 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container13 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.categories-child3 {
    position: absolute;
    top: 4208px;
    left: -104px;
    background-color: #161616;
    width: 1473px;
    height: 716px;
}

.categories-child4 {
    position: absolute;
    top: 4706px;
    left: 742px;
    width: 698.5px;
    height: 1px;
}

.all-products,
.mens-fashion,
.menss-clothing,
.top-products {
    position: absolute;
    top: 1673px;
    left: 101px;
    font-size: var(--font-size-31xl);
    letter-spacing: 0.14em;
    font-weight: 600;
}

.all-products,
.menss-clothing,
.top-products {
    top: 1128px;
    left: 384px;
}

.all-products,
.menss-clothing {
    top: 5010px;
    left: 129px;
}

.all-products {
    top: 6041px;
}

.view-more1,
.view-more2 {
    position: absolute;
    top: 5010px;
    left: 1125px;
    font-weight: 600;
    color: var(--color-gray-200);
}

.view-more2 {
    top: 6041px;
}

.div69,
.product16 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.product16 {
    font-weight: 600;
    width: 108px;
    height: 39px;
}

.div69 {
    font-size: var(--title-mobile-size);
    width: 72px;
    height: 31px;
}

.product-parent13,
.product-parent14,
.product-parent15,
.product-parent16 {
    position: absolute;
    top: 7344px;
    left: 207px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent14,
.product-parent15,
.product-parent16 {
    top: 6928px;
}

.product-parent15,
.product-parent16 {
    top: 6507px;
}

.product-parent16 {
    top: 5459px;
    left: 228px;
}

.product-parent17,
.product-parent18,
.product-parent19,
.product-parent20,
.product-parent21,
.product-parent22 {
    position: absolute;
    top: 6490px;
    left: -4895px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent18,
.product-parent19,
.product-parent20,
.product-parent21,
.product-parent22 {
    top: 7765px;
    left: 207px;
}

.product-parent19,
.product-parent20,
.product-parent21,
.product-parent22 {
    top: 5880px;
    left: 228px;
}

.product-parent20,
.product-parent21,
.product-parent22 {
    top: 6911px;
    left: -4895px;
}

.product-parent21,
.product-parent22 {
    top: 8227px;
    left: 199px;
}

.product-parent22 {
    top: 3028px;
    left: 125px;
}

.product-parent23,
.product-parent24,
.product-parent25,
.product-parent26,
.product-parent27,
.product-parent28 {
    position: absolute;
    top: 2593px;
    left: 126px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent24,
.product-parent25,
.product-parent26,
.product-parent27,
.product-parent28 {
    top: 7348px;
    left: 450px;
}

.product-parent25,
.product-parent26,
.product-parent27,
.product-parent28 {
    top: 6932px;
}

.product-parent26,
.product-parent27,
.product-parent28 {
    top: 6511px;
}

.product-parent27,
.product-parent28 {
    top: 5463px;
    left: 471px;
}

.product-parent28 {
    top: 6494px;
    left: -4652px;
}

.product-parent29,
.product-parent30,
.product-parent31,
.product-parent32,
.product-parent33,
.product-parent34 {
    position: absolute;
    top: 7769px;
    left: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent30,
.product-parent31,
.product-parent32,
.product-parent33,
.product-parent34 {
    top: 5884px;
    left: 471px;
}

.product-parent31,
.product-parent32,
.product-parent33,
.product-parent34 {
    top: 6915px;
    left: -4652px;
}

.product-parent32,
.product-parent33,
.product-parent34 {
    top: 8231px;
    left: 442px;
}

.product-parent33,
.product-parent34 {
    top: 3032px;
    left: 386px;
}

.product-parent34 {
    top: 2597px;
    left: 387px;
}

.product-parent35,
.product-parent36,
.product-parent37,
.product-parent38,
.product-parent39,
.product-parent40 {
    position: absolute;
    top: 7352px;
    left: 693px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent36,
.product-parent37,
.product-parent38,
.product-parent39,
.product-parent40 {
    top: 6936px;
}

.product-parent37,
.product-parent38,
.product-parent39,
.product-parent40 {
    top: 6515px;
}

.product-parent38,
.product-parent39,
.product-parent40 {
    top: 5467px;
    left: 714px;
}

.product-parent39,
.product-parent40 {
    top: 6498px;
    left: -4409px;
}

.product-parent40 {
    top: 7773px;
    left: 693px;
}

.product-parent41,
.product-parent42,
.product-parent43,
.product-parent44,
.product-parent45,
.product-parent46 {
    position: absolute;
    top: 5888px;
    left: 714px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent42,
.product-parent43,
.product-parent44,
.product-parent45,
.product-parent46 {
    top: 6919px;
    left: -4409px;
}

.product-parent43,
.product-parent44,
.product-parent45,
.product-parent46 {
    top: 8235px;
    left: 685px;
}

.product-parent44,
.product-parent45,
.product-parent46 {
    top: 7356px;
    left: 936px;
}

.product-parent45,
.product-parent46 {
    top: 6940px;
}

.product-parent46 {
    top: 6519px;
}

.product-parent47,
.product-parent48,
.product-parent49,
.product-parent50,
.product-parent51,
.product-parent52 {
    position: absolute;
    top: 5471px;
    left: 957px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent48,
.product-parent49,
.product-parent50,
.product-parent51,
.product-parent52 {
    top: 6502px;
    left: -4166px;
}

.product-parent49,
.product-parent50,
.product-parent51,
.product-parent52 {
    top: 7777px;
    left: 936px;
}

.product-parent50,
.product-parent51,
.product-parent52 {
    top: 5892px;
    left: 957px;
}

.product-parent51,
.product-parent52 {
    top: 6923px;
    left: -4166px;
}

.product-parent52 {
    top: 8239px;
    left: 928px;
}

.categories-child5,
.categories-child6,
.categories-child7,
.categories-child8 {
    position: absolute;
    top: 7030px;
    left: 207px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child6,
.categories-child7,
.categories-child8 {
    top: 6614px;
}

.categories-child7,
.categories-child8 {
    top: 5145px;
    left: 228px;
}

.categories-child8 {
    top: 6176px;
    left: 207px;
}

.categories-child10,
.categories-child11,
.categories-child12,
.categories-child9 {
    position: absolute;
    top: 7451px;
    left: 207px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child10,
.categories-child11,
.categories-child12 {
    top: 5566px;
    left: 228px;
}

.categories-child11,
.categories-child12 {
    top: 6597px;
    left: -4895px;
}

.categories-child12 {
    top: 7876px;
    left: 207px;
}

.categories-child13,
.categories-child14,
.categories-child15,
.categories-child16 {
    position: absolute;
    top: 7030px;
    left: 449.9px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child14,
.categories-child15,
.categories-child16 {
    top: 6614px;
}

.categories-child15,
.categories-child16 {
    top: 5145px;
    left: 470.9px;
}

.categories-child16 {
    top: 6176px;
    left: 449.9px;
}

.categories-child17,
.categories-child18,
.categories-child19,
.categories-child20 {
    position: absolute;
    top: 7451px;
    left: 449.9px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child18,
.categories-child19,
.categories-child20 {
    top: 5566px;
    left: 470.9px;
}

.categories-child19,
.categories-child20 {
    top: 6597px;
    left: -4652.1px;
}

.categories-child20 {
    top: 7876px;
    left: 449.9px;
}

.categories-child21,
.categories-child22,
.categories-child23,
.categories-child24 {
    position: absolute;
    top: 7030px;
    left: 692.8px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child22,
.categories-child23,
.categories-child24 {
    top: 6614px;
}

.categories-child23,
.categories-child24 {
    top: 5145px;
    left: 713.8px;
}

.categories-child24 {
    top: 6176px;
    left: 692.8px;
}

.categories-child25,
.categories-child26,
.categories-child27,
.categories-child28 {
    position: absolute;
    top: 7451px;
    left: 692.8px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child26,
.categories-child27,
.categories-child28 {
    top: 5566px;
    left: 713.8px;
}

.categories-child27,
.categories-child28 {
    top: 6597px;
    left: -4409.2px;
}

.categories-child28 {
    top: 7876px;
    left: 692.8px;
}

.categories-child29,
.categories-child30,
.categories-child31,
.categories-child32 {
    position: absolute;
    top: 7030px;
    left: 935.71px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child30,
.categories-child31,
.categories-child32 {
    top: 6614px;
}

.categories-child31,
.categories-child32 {
    top: 5145px;
    left: 956.71px;
}

.categories-child32 {
    top: 6176px;
    left: 935.71px;
}

.categories-child33,
.categories-child34,
.categories-child35,
.categories-child36 {
    position: absolute;
    top: 7451px;
    left: 935.71px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child34,
.categories-child35,
.categories-child36 {
    top: 5566px;
    left: 956.71px;
}

.categories-child35,
.categories-child36 {
    top: 6597px;
    left: -4166.29px;
}

.categories-child36 {
    top: 7876px;
    left: 935.71px;
}

.categories-child37,
.categories-child38 {
    position: absolute;
    top: 2324px;
    left: 126px;
    width: 253px;
    height: 257px;
    object-fit: cover;
}

.categories-child38 {
    top: 2752px;
    left: 119px;
}

.categories-child39,
.categories-child40,
.categories-child41 {
    position: absolute;
    top: 2324px;
    left: 393px;
    width: 253px;
    height: 257px;
    object-fit: cover;
}

.categories-child40,
.categories-child41 {
    top: 2752px;
    left: 386px;
}

.categories-child41 {
    top: 2292px;
    left: 708px;
    width: 737px;
    height: 792px;
}

.beautiful,
.stay {
    position: absolute;
    left: 762px;
    display: inline-block;
    color: var(--color-white);
}

.beautiful {
    top: 2859px;
    font-size: var(--font-size-37xl);
    font-weight: 600;
    width: 499px;
    height: 153px;
}

.stay {
    top: 2835px;
    font-size: var(--font-size-27xl);
    font-weight: 500;
    width: 95.96px;
}

.categories-child42 {
    position: absolute;
    top: 2301.62px;
    left: 707.51px;
    width: 95.89px;
    height: 191.78px;
}

.div109 {
    top: 2371px;
    left: 715px;
    font-size: var(--font-size-30xl);
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 73.58px;
    height: 53px;
}

.div109,
.div110,
.off9 {
    position: absolute;
}

.off9 {
    top: 2410px;
    left: 718px;
    font-size: var(--font-size-19xl);
    font-weight: 500;
    color: var(--color-white);
    display: inline-block;
    width: 40.26px;
    height: 29px;
}

.div110 {
    top: 0;
}

.div110,
.div111,
.div112 {
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 84.85px;
    height: 92.56px;
}

.div111 {
    position: absolute;
    top: 99.75px;
}

.div112 {
    top: 199.5px;
}

.day,
.div112,
.div113 {
    position: absolute;
}

.div113 {
    top: 299.25px;
    left: 0;
    font-weight: 500;
    display: inline-block;
    width: 84.85px;
    height: 92.56px;
}

.day {
    top: 76.39px;
    left: 6.29px;
}

.day,
.hr,
.min {
    font-size: var(--font-size-12xl);
    font-weight: 500;
    display: inline-block;
    width: 36.18px;
    height: 26.06px;
}

.hr {
    position: absolute;
    top: 173.44px;
    left: 8.09px;
}

.min {
    top: 273.19px;
    left: 7.19px;
}

.min,
.parent,
.sec {
    position: absolute;
}

.sec {
    top: 372.94px;
    left: 6.29px;
    font-size: var(--font-size-12xl);
    font-weight: 500;
    display: inline-block;
    width: 36.18px;
    height: 26.06px;
}

.parent {
    top: 2314px;
    left: 1246px;
    width: 84.85px;
    height: 399px;
    font-size: var(--font-size-35xl);
    color: var(--color-white);
}

.filter,
.funnelsimple-icon {
    position: relative;
    flex-shrink: 0;
}

.filter {
    font-weight: 600;
    display: inline-block;
    width: 124px;
}

.funnelsimple-icon {
    width: 39px;
    height: 39px;
}

.filter-parent {
    position: absolute;
    top: 1229px;
    left: 32.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 95px;
}

.categories1 {
    position: absolute;
    top: 714px;
    left: 561px;
    font-size: var(--font-size-31xl);
    letter-spacing: 0.14em;
    font-weight: 600;
}

.traditional {
    position: absolute;
    top: 1001px;
    left: 710px;
    font-weight: 500;
}

.jacket-vest,
.tops-tanks,
.traditional {
    color: var(--color-dimgray-200);
}

.tops-tanks {
    position: absolute;
    top: 1001px;
    left: 911px;
    font-weight: 500;
}

.jacket-vest {
    left: 1146px;
}

.all,
.jacket-vest,
.mens-clothing,
.womens-fashion {
    position: absolute;
    top: 1001px;
    font-weight: 500;
}

.all {
    left: 71px;
}

.mens-clothing,
.womens-fashion {
    color: var(--color-dimgray-200);
}

.mens-clothing {
    left: 159px;
    cursor: pointer;
}

.womens-fashion {
    left: 415px;
}

.categories-child43 {
    position: absolute;
    top: 1042px;
    left: 80px;
    width: 13px;
    height: 13px;
}

.product-parent53,
.product-parent54,
.product-parent55 {
    position: absolute;
    top: 1547px;
    left: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent54,
.product-parent55 {
    top: 2109px;
    left: 77px;
}

.product-parent55 {
    top: 1551px;
    left: 623px;
}

.product-parent56,
.product-parent57,
.product-parent58,
.product-parent59,
.product-parent60,
.product-parent61 {
    position: absolute;
    top: 2113px;
    left: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent57,
.product-parent58,
.product-parent59,
.product-parent60,
.product-parent61 {
    top: 1555px;
    left: 866px;
}

.product-parent58,
.product-parent59,
.product-parent60,
.product-parent61 {
    top: 2117px;
    left: 563px;
}

.product-parent59,
.product-parent60,
.product-parent61 {
    top: 1559px;
    left: 1109px;
}

.product-parent60,
.product-parent61 {
    top: 2121px;
    left: 806px;
}

.product-parent61 {
    left: 1046.29px;
}

.categories-child44 {
    position: absolute;
    top: 1233px;
    left: 380px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child45,
.categories-child46,
.categories-child47,
.categories-child48 {
    position: absolute;
    top: 1795px;
    left: 77px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child46,
.categories-child47,
.categories-child48 {
    top: 1233px;
    left: 622.9px;
}

.categories-child47,
.categories-child48 {
    top: 1795px;
    left: 319.9px;
}

.categories-child48 {
    top: 1233px;
    left: 865.8px;
}

.categories-child49,
.categories-child50,
.categories-child51,
.categories-child52 {
    position: absolute;
    top: 1795px;
    left: 562.8px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child50,
.categories-child51,
.categories-child52 {
    top: 1233px;
    left: 1108.71px;
}

.categories-child51,
.categories-child52 {
    top: 1795px;
    left: 805.71px;
}

.categories-child52 {
    left: 1046px;
}

.categories-child53 {
    position: absolute;
    top: 1286.5px;
    left: 26px;
    width: 311px;
    height: 1px;
}

.div123,
.div124,
.div125,
.price2 {
    position: absolute;
    top: 1304px;
    left: 31.5px;
    font-size: var(--sub-title-desktop-size);
    font-weight: 500;
}

.div123,
.div124,
.div125 {
    left: 311px;
}

.div124,
.div125 {
    top: 1340px;
}

.div125 {
    top: 1376px;
}

.brand,
.color,
.div126,
.div127,
.div128,
.div129,
.latest,
.offer,
.rating,
.size,
.view-all {
    position: absolute;
    top: 1412px;
    left: 311px;
    font-size: var(--sub-title-desktop-size);
    font-weight: 500;
}

.brand,
.color,
.div127,
.div128,
.div129,
.latest,
.offer,
.rating,
.size,
.view-all {
    top: 1448px;
}

.brand,
.color,
.div128,
.div129,
.latest,
.offer,
.rating,
.size,
.view-all {
    top: 1484px;
}

.brand,
.color,
.div129,
.latest,
.offer,
.rating,
.size,
.view-all {
    top: 1520px;
}

.brand,
.color,
.latest,
.offer,
.rating,
.size,
.view-all {
    top: 1340px;
    left: 31.5px;
}

.brand,
.color,
.offer,
.rating,
.size,
.view-all {
    top: 1376px;
}

.brand,
.color,
.offer,
.size,
.view-all {
    top: 1412px;
}

.color,
.offer,
.size,
.view-all {
    top: 1484px;
}

.color,
.offer,
.view-all {
    top: 1520px;
}

.color,
.view-all {
    top: 1448px;
}

.view-all {
    top: 1682px;
    left: 875px;
    font-size: var(--title-mobile-size);
    font-weight: 600;
    color: #474747;
}

.tops-tanks1,
.view-more3 {
    position: absolute;
    top: 3187px;
    font-weight: 600;
}

.tops-tanks1 {
    left: 125px;
    font-size: var(--font-size-31xl);
    letter-spacing: 0.14em;
}

.view-more3 {
    left: 1121px;
    color: var(--color-gray-200);
}

.product-parent62,
.product-parent63 {
    position: absolute;
    top: 3636px;
    left: 224px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent63 {
    top: 4057px;
}

.product-parent64,
.product-parent65,
.product-parent66,
.product-parent67,
.product-parent68,
.product-parent69 {
    position: absolute;
    top: 3640px;
    left: 467px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.product-parent65,
.product-parent66,
.product-parent67,
.product-parent68,
.product-parent69 {
    top: 4061px;
}

.product-parent66,
.product-parent67,
.product-parent68,
.product-parent69 {
    top: 3644px;
    left: 710px;
}

.product-parent67,
.product-parent68,
.product-parent69 {
    top: 4065px;
}

.product-parent68,
.product-parent69 {
    top: 3648px;
    left: 953px;
}

.product-parent69 {
    top: 4069px;
}

.categories-child54 {
    position: absolute;
    top: 3322px;
    left: 224px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child55,
.categories-child56,
.categories-child57,
.categories-child58 {
    position: absolute;
    top: 3743px;
    left: 224px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child56,
.categories-child57,
.categories-child58 {
    top: 3322px;
    left: 466.9px;
}

.categories-child57,
.categories-child58 {
    top: 3743px;
}

.categories-child58 {
    top: 3322px;
    left: 709.8px;
}

.categories-child59,
.categories-child60,
.categories-child61,
.categories-child62 {
    position: absolute;
    top: 3743px;
    left: 709.8px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.categories-child60,
.categories-child61,
.categories-child62 {
    top: 3322px;
    left: 952.71px;
}

.categories-child61,
.categories-child62 {
    top: 3743px;
}

.categories-child62 {
    top: 4328px;
    left: 0;
    width: 1071.47px;
    height: 472px;
}

.select-your-style {
    top: 4454px;
    left: 898px;
    font-size: 54.76px;
    font-weight: 600;
    width: 448px;
    height: 157px;
}

.fashionnow,
.select-your-style,
.shop-now {
    position: absolute;
    letter-spacing: 0.02em;
    color: var(--color-white);
    display: inline-block;
}

.fashionnow {
    top: 4418px;
    left: 898px;
    font-size: 25px;
    font-weight: 500;
    width: 248.12px;
    height: 36px;
}

.shop-now {
    top: 4685px;
    left: 986px;
    font-size: 29.38px;
    font-weight: 600;
    width: 152.39px;
}

.categories-child63,
.categories-child64 {
    position: absolute;
    top: 633px;
    left: 632.25px;
    width: 25px;
    height: 25px;
}

.categories-child64 {
    left: 669.75px;
}

.collecton,
.have-your-own {
    position: absolute;
    font-weight: 600;
    color: var(--color-white);
}

.have-your-own {
    top: 253px;
    left: 97px;
    font-size: var(--font-size-31xl);
    letter-spacing: 0.14em;
}

.collecton {
    top: 281px;
    left: 89px;
    font-size: 103.73px;
    display: inline-block;
    width: 507.45px;
    height: 157px;
}

.categories-child65,
.categories-child66,
.categories-child67 {
    position: absolute;
    top: 845px;
    left: 26px;
    width: 121px;
    height: 121px;
    object-fit: cover;
}

.categories-child66,
.categories-child67 {
    top: 844px;
    left: 211px;
}

.categories-child67 {
    left: 453px;
}

.categories-child68,
.categories-child69,
.categories-child70 {
    position: absolute;
    top: 845px;
    left: 710px;
    width: 121px;
    height: 121px;
    object-fit: cover;
}

.categories-child69,
.categories-child70 {
    top: 844px;
    left: 937px;
}

.categories-child70 {
    left: 1166px;
}

.categories {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 8404px;
    overflow: hidden;
    text-align: left;
    font-size: var(--title-desktop-size);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}