.support-child {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe5,
.emagz11 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz11 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-parent3 {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child47 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child47,
.rectangle-wrapper4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon43,
.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon44,
.vector-icon45,
.vector-icon46,
.vector-icon47 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon45,
.vector-icon46,
.vector-icon47 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon46,
.vector-icon47 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon47 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon15 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz12 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-child3,
.vector-icon48,
.vector-icon49 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon48,
.vector-icon49 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon49 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent18,
.new-logo6 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent18 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.support-inner,
.support-item {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.support-inner {
    height: 2.99%;
    width: 2.93%;
    top: 2.54%;
    right: 23.71%;
    bottom: 94.47%;
    left: 73.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.support-child1,
.user-icon5 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.support-child1 {
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app5 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container5 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.div36,
.my-order2,
.support2,
.we-are-here1 {
    position: absolute;
    top: 171px;
    left: 102px;
    font-size: var(--title-desktop-size);
    font-weight: 600;
}

.div36,
.support2,
.we-are-here1 {
    left: 241px;
}

.support2,
.we-are-here1 {
    left: 275px;
}

.we-are-here1 {
    top: 251px;
    left: 102px;
    font-size: var(--font-size-29xl);
}

.please-enter-the1 {
    position: absolute;
    top: 302px;
    left: 102px;
    font-size: var(--title-mobile-size);
}

.support-child2,
.support-child3 {
    position: absolute;
    top: 408px;
    left: -5009px;
    background-color: var(--color-whitesmoke-300);
    width: 439px;
    height: 73px;
}

.support-child3 {
    left: -4545px;
    width: 630px;
}

.message1,
.name3,
.upload-proof {
    position: absolute;
    top: 366px;
    left: -5004px;
    font-weight: 600;
}

.message1,
.upload-proof {
    top: 724px;
    left: -5009px;
}

.upload-proof {
    top: 955px;
    left: 120px;
}

.e-mail-phone1,
.please-select-the1 {
    position: absolute;
    top: 490px;
    left: -5004px;
    font-weight: 600;
}

.e-mail-phone1 {
    top: 369px;
    left: -4547px;
}

.support-child4 {
    position: absolute;
    top: 767px;
    left: -5010px;
    background-color: var(--color-whitesmoke-300);
    width: 1095px;
    height: 166px;
}

.support-child5,
.support-child6,
.support-child7 {
    position: absolute;
    top: 544px;
    left: -5004px;
    width: 29px;
    height: 29px;
}

.support-child6,
.support-child7 {
    top: 595px;
}

.support-child7 {
    top: 646px;
}

.damage-product1,
.other-issue1,
.wrong-product-delivered1 {
    position: absolute;
    top: 544px;
    left: -4956px;
    font-size: var(--title-mobile-size);
}

.other-issue1,
.wrong-product-delivered1 {
    top: 595px;
}

.other-issue1 {
    top: 648px;
}

.support-child10,
.support-child11,
.support-child8,
.support-child9 {
    position: absolute;
    top: 1015px;
    left: 117px;
    background-color: var(--color-whitesmoke-100);
    width: 261px;
    height: 217px;
}

.support-child10,
.support-child11,
.support-child9 {
    left: 397px;
}

.support-child10,
.support-child11 {
    left: 677px;
}

.support-child11 {
    left: 957px;
}

.upload-image,
.upload-image1,
.upload-image2,
.upload-video {
    position: absolute;
    top: 1131px;
    left: 165px;
    font-weight: 600;
}

.upload-image1,
.upload-image2,
.upload-video {
    left: 442px;
}

.upload-image2,
.upload-video {
    left: 726px;
}

.upload-video {
    left: 1008px;
}

.support-child12 {
    position: absolute;
    top: 1287px;
    left: 485px;
    border-radius: var(--br-xs);
    background-color: var(--color-dodgerblue);
    width: 383px;
    height: 85px;
}

.submit1 {
    position: absolute;
    top: 1314px;
    left: 629px;
    font-size: var(--font-size-22xl);
    font-weight: 600;
    color: var(--color-white);
    display: inline-block;
    width: 96.58px;
    height: 31px;
}

.support-child13,
.support-child14,
.support-child15,
.support-child16 {
    position: absolute;
    top: 1084px;
    left: 214px;
    width: 54px;
    height: 36px;
}

.support-child14,
.support-child15,
.support-child16 {
    left: 491px;
}

.support-child15,
.support-child16 {
    left: 775px;
}

.support-child16 {
    top: 1087px;
    left: 1055px;
}

.support1 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1446px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}