.my-coupan-child {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe2,
.emagz5 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz5 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-container {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
    color: var(--second-hover);
}

.group-child26 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child26,
.rectangle-wrapper1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon22,
.vector-icon23,
.vector-icon24,
.vector-icon25,
.vector-icon26 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon23,
.vector-icon24,
.vector-icon25,
.vector-icon26 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon24,
.vector-icon25,
.vector-icon26 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon25,
.vector-icon26 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon26 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon3 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz6 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.rectangle-icon,
.vector-icon27,
.vector-icon28 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon27,
.vector-icon28 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon28 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent15,
.new-logo3 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent15 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.my-coupan-inner,
.my-coupan-item {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.my-coupan-inner {
    height: 2.99%;
    width: 2.93%;
    top: 2.54%;
    right: 23.71%;
    bottom: 94.47%;
    left: 73.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.user-icon2 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.my-coupan-child1 {
    position: absolute;
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app2 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container2 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
    color: var(--second-hover);
}

.div15,
.my-account2,
.my-coupon {
    position: absolute;
    top: 171px;
    left: 102px;
    font-size: var(--title-desktop-size);
    font-weight: 600;
    color: var(--second-hover);
}

.div15,
.my-coupon {
    left: 284px;
}

.my-coupon {
    left: 318px;
}

.subtract-icon4 {
    position: relative;
    width: 384px;
    height: 188px;
}

.group-child27 {
    position: absolute;
    top: 12.5px;
    left: 217.5px;
    width: 1px;
    height: 123px;
}

.coupon-code,
.div16,
.off {
    position: absolute;
    top: 13px;
    left: 42px;
    font-size: var(--font-size-15xl);
    font-weight: 600;
    display: inline-block;
    width: 138.29px;
}

.div16,
.off {
    top: 47px;
    left: 238px;
    font-size: var(--font-size-26xl);
    width: 68.6px;
    height: 49px;
}

.off {
    top: 88px;
    font-size: var(--font-size-6xl);
    width: 29.4px;
    height: 21px;
}

.group-child28 {
    position: absolute;
    top: 109px;
    left: 46px;
    border-radius: var(--br-2xs);
    background-color: var(--color-dodgerblue);
    width: 143px;
    height: 26px;
}

.apply-code {
    position: absolute;
    top: 117px;
    left: 96px;
    font-size: var(--font-size-xl);
    font-weight: 600;
    display: inline-block;
    width: 39px;
    height: 10px;
}

.div17,
.expire-date,
.lorem-ipsum-dolor2 {
    position: absolute;
    top: 47px;
    left: 46px;
    display: inline-block;
    width: 134px;
    height: 22px;
}

.div17,
.expire-date {
    top: 71px;
    width: 23px;
    height: 6px;
}

.div17 {
    left: 74px;
    width: 22px;
}

.subtract-container,
.subtract-group,
.subtract-parent {
    position: absolute;
    top: 286px;
    left: 102px;
    width: 344px;
    height: 148px;
}

.subtract-container,
.subtract-group {
    top: 486px;
}

.subtract-container {
    top: 686px;
}

.subtract-parent1,
.subtract-parent2,
.subtract-parent3 {
    position: absolute;
    top: 286px;
    left: 503px;
    width: 344px;
    height: 148px;
}

.subtract-parent2,
.subtract-parent3 {
    top: 486px;
}

.subtract-parent3 {
    top: 686px;
}

.subtract-parent4,
.subtract-parent5,
.subtract-parent6 {
    position: absolute;
    top: 286px;
    left: 904px;
    width: 344px;
    height: 148px;
}

.subtract-parent5,
.subtract-parent6 {
    top: 486px;
}

.subtract-parent6 {
    top: 686px;
}

.my-coupan {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1010px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-white);
    font-family: var(--title-mobile);
}