.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon8,
.vector-icon9 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.95%;
    bottom: 17.33%;
    left: 68.74%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon10,
.vector-icon11,
.vector-icon12,
.vector-icon9 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon10,
.vector-icon11,
.vector-icon12 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.86%;
}

.vector-icon11,
.vector-icon12 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon12 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.33%;
}

.subtract-icon1 {
    position: relative;
    width: 703.82px;
    height: 840.46px;
}

.emagz2 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    background: linear-gradient(131.75deg, #3c83e6, #3fd9d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.new-logo-item,
.vector-icon13,
.vector-icon14 {
    position: absolute;
    height: 99.78%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: 0.68%;
    left: -0.48%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon13,
.vector-icon14 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon14 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.new-logo1 {
    position: absolute;
    height: 98.58%;
    width: 92.95%;
    top: 2.09%;
    right: 3.54%;
    bottom: -0.67%;
    left: 3.51%;
    opacity: 0.1;
    font-size: 98.28px;
}

.undraw-empty-xct9-1-1 {
    position: absolute;
    height: 31.03%;
    width: 38.82%;
    top: 22.89%;
    right: 33.43%;
    bottom: 46.08%;
    left: 27.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.no-wiah-list-child {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe1,
.emagz3 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz3 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-group {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child25 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child25,
.rectangle-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon15,
.vector-icon17,
.vector-icon19 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon17,
.vector-icon19 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon19 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon2 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz4 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-inner {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.group-parent14,
.new-logo2 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent14 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.no-wiah-list-item {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.no-wiah-list-inner {
    position: absolute;
    height: 2.99%;
    width: 2.93%;
    top: 2.54%;
    right: 23.71%;
    bottom: 94.47%;
    left: 73.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.user-icon1 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.no-wiah-list-child1 {
    position: absolute;
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app1 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container1 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.div14,
.my-account1,
.save-your-favorite,
.wishlist {
    position: absolute;
    top: 171px;
    left: 102px;
    font-weight: 600;
}

.div14,
.save-your-favorite,
.wishlist {
    left: 284px;
}

.save-your-favorite,
.wishlist {
    left: 318px;
}

.save-your-favorite {
    top: 753px;
    left: 313px;
    font-size: var(--font-size-34xl);
    display: inline-block;
    width: 675.85px;
    height: 85px;
}

.when-you-something {
    position: absolute;
    top: 856px;
    left: 510px;
    font-size: var(--sub-title-mobile-size);
    font-weight: 500;
}

.no-wiah-list-child2 {
    position: absolute;
    top: 931px;
    left: 476px;
    border-radius: var(--br-xs);
    background-color: var(--color-dodgerblue);
    width: 350px;
    height: 72px;
}

.lets-save-some {
    position: absolute;
    top: 953px;
    left: 579px;
    font-size: var(--sub-title-desktop-size);
    font-weight: 500;
    color: var(--color-white);
}

.no-wiah-list {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1337px;
    overflow: hidden;
    text-align: left;
    font-size: var(--title-desktop-size);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}