.product-page-child {
    position: absolute;
    top: 40px;
    left: 36px;
    width: 38.38px;
    height: 34.38px;
}

.connecting-universe12,
.emagz26 {
    position: absolute;
    top: 23px;
    left: 0;
    letter-spacing: 0.02em;
    display: inline-block;
    width: 66.69px;
    height: 9.33px;
}

.emagz26 {
    top: 0;
    left: 0.07px;
    font-size: var(--font-size-14xl);
    font-family: var(--font-quattrocento);
    width: 86px;
    height: 23.89px;
}

.connecting-universe-parent10 {
    position: absolute;
    top: 46px;
    left: 207.96px;
    width: 86.07px;
    height: 32.33px;
    font-size: var(--font-size-lg);
}

.group-child99 {
    border-radius: var(--br-sm);
    background: linear-gradient(58deg, #0f0aa4 23.68%, #2992e3 99.39%);
    box-shadow: 0 0.9933774471282959px 4.97px rgba(0, 0, 0, 0.25);
}

.group-child99,
.rectangle-wrapper11 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80.96px;
    height: 75px;
}

.vector-icon100,
.vector-icon101,
.vector-icon102,
.vector-icon103,
.vector-icon99 {
    position: absolute;
    height: 65.9%;
    width: 16.31%;
    top: 16.77%;
    right: 14.94%;
    bottom: 17.33%;
    left: 68.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon100,
.vector-icon101,
.vector-icon102,
.vector-icon103 {
    width: 16.3%;
    right: 69.38%;
    left: 14.32%;
}

.vector-icon101,
.vector-icon102,
.vector-icon103 {
    height: 39.68%;
    width: 43.85%;
    right: 44.29%;
    bottom: 43.56%;
    left: 11.87%;
}

.vector-icon102,
.vector-icon103 {
    height: 31.91%;
    width: 23.16%;
    top: 16.79%;
    right: 13.57%;
    bottom: 51.3%;
    left: 63.27%;
}

.vector-icon103 {
    height: 47.45%;
    width: 16.3%;
    top: 35.22%;
    right: 69.36%;
    bottom: 17.33%;
    left: 14.34%;
}

.subtract-icon23 {
    position: relative;
    width: 24.77px;
    height: 29.57px;
}

.emagz27 {
    position: absolute;
    height: 11.27%;
    width: 57.46%;
    top: 53.23%;
    left: 20.84%;
    letter-spacing: 0.96em;
    font-weight: 500;
    display: inline-block;
}

.new-logo-child11,
.vector-icon104,
.vector-icon105 {
    position: absolute;
    height: 100.92%;
    width: 100.95%;
    top: -0.46%;
    right: -0.48%;
    bottom: -0.46%;
    left: -0.47%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.vector-icon104,
.vector-icon105 {
    height: 23.82%;
    width: 20.07%;
    top: 17.02%;
    right: 65.93%;
    bottom: 59.15%;
    left: 14%;
}

.vector-icon105 {
    height: 23.85%;
    width: 20.06%;
    top: 17%;
    right: 14.63%;
    left: 65.31%;
}

.group-parent25,
.new-logo14 {
    position: absolute;
    top: 15.76px;
    left: 18.28px;
    width: 44.68px;
    height: 46.38px;
}

.group-parent25 {
    top: 22px;
    left: 113px;
    width: 80.96px;
    height: 75px;
    font-size: var(--font-size-sm);
    color: var(--color-gray-100);
}

.product-page-item {
    position: absolute;
    top: 41px;
    left: 896px;
    width: 31px;
    height: 33.29px;
}

.product-page-inner {
    position: absolute;
    height: 2.19%;
    width: 2.93%;
    top: 1.99%;
    right: 23.57%;
    bottom: 95.82%;
    left: 73.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.user-icon12 {
    position: absolute;
    top: 33px;
    left: 1108.47px;
    width: 41px;
    height: 41px;
}

.product-page-child1 {
    position: absolute;
    top: 22.5px;
    left: 1188.5px;
    width: 3px;
    height: 71.5px;
}

.download-app12 {
    font-weight: 600;
    background: linear-gradient( 55.02deg, #5acff9, #38b1f4 15.63%, #5bc3fc 31.77%, #23a3ff 65.35%, #2489d2 80.05%, #2985c7 99.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.explore-the-powerful-container12 {
    position: absolute;
    top: 28px;
    left: 1209px;
    font-size: var(--font-size-5xl);
    display: inline-block;
    width: 141px;
}

.div54,
.info,
.qty,
.seller,
.the-beyound-ring {
    position: absolute;
    left: 568.41px;
    display: inline-block;
}

.the-beyound-ring {
    top: 209px;
    font-size: var(--font-size-25xl);
    font-weight: 600;
    width: 521.85px;
    height: 45.23px;
}

.div54,
.info,
.qty,
.seller {
    top: 264.16px;
    font-weight: 500;
    width: 37.51px;
    height: 29.79px;
}

.div54,
.qty,
.seller {
    top: 495px;
    left: 564.1px;
    width: 35.31px;
}

.div54,
.seller {
    top: 436px;
    left: 564px;
    width: 72px;
    height: 30px;
}

.div54 {
    left: 875px;
    width: 34px;
}

.alliance-departures1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.alliance-departures {
    position: absolute;
    top: 436px;
    left: 628px;
    font-weight: 500;
    color: var(--color-dodgerblue);
    display: inline-block;
    width: 205px;
    height: 30px;
}

.price1 {
    top: 495px;
    left: 940.32px;
    font-weight: 500;
    width: 49.65px;
    height: 29.79px;
}

.div55,
.lorem-ipsum-dolor14,
.price1 {
    position: absolute;
    display: inline-block;
}

.div55 {
    top: 546.85px;
    left: 940.32px;
    font-size: var(--font-size-25xl);
    font-weight: 600;
    width: 129.08px;
    height: 45.23px;
}

.lorem-ipsum-dolor14 {
    top: 303.88px;
    left: 568.41px;
    font-size: 23.17px;
    width: 646.53px;
    height: 80.54px;
}

.product-page-child2 {
    position: absolute;
    top: 545.75px;
    left: 563px;
    width: 54.06px;
    height: 54.06px;
}

.product-page-child3,
.product-page-child4,
.product-page-child5 {
    position: absolute;
    top: 545.75px;
    left: 632.51px;
    width: 54.06px;
    height: 54.06px;
}

.product-page-child4,
.product-page-child5 {
    left: 702.01px;
}

.product-page-child5 {
    left: 771.52px;
}

.div56,
.div57,
.div58,
.div59 {
    position: absolute;
    top: 557.89px;
    font-weight: 500;
    display: inline-block;
    height: 29.79px;
}

.div56 {
    left: 578.45px;
    color: var(--color-white);
    width: 19.86px;
}

.div57,
.div58,
.div59 {
    left: 647.95px;
    width: 24.27px;
}

.div58,
.div59 {
    left: 717.46px;
    width: 25.38px;
}

.div59 {
    left: 786.97px;
    width: 26.48px;
}

.group-child100 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    border: 1.1px solid var(--second-hover);
    box-sizing: border-box;
    width: 344.23px;
    height: 81.64px;
}

.add-to-cart {
    position: absolute;
    top: 17.64px;
    left: 71px;
    font-weight: 600;
    display: inline-block;
    width: 183px;
    height: 45px;
}

.group-child101,
.rectangle-parent18 {
    position: absolute;
    width: 344.23px;
    height: 81.64px;
}

.rectangle-parent18 {
    top: 646px;
    left: 550px;
    font-size: var(--font-size-25xl);
}

.group-child101 {
    top: 0;
    left: 0;
    border-radius: var(--br-md);
    background-color: #2985c7;
}

.buy-now {
    position: absolute;
    top: 17.65px;
    left: 107.02px;
    font-weight: 600;
    display: inline-block;
    width: 130.19px;
    height: 45.23px;
}

.rectangle-parent19 {
    position: absolute;
    top: 646px;
    left: 912.98px;
    width: 344.23px;
    height: 81.64px;
    font-size: var(--font-size-25xl);
    color: var(--color-white);
}

.product-page-child6,
.product-page-child7 {
    position: absolute;
    top: 206px;
    left: 83px;
    width: 307.04px;
    height: 470px;
    object-fit: cover;
}

.product-page-child7 {
    left: 401px;
    width: 72.51px;
    height: 111px;
}

.product-page-child8 {
    top: 325px;
    object-fit: cover;
}

.product-page-child10,
.product-page-child8,
.product-page-child9 {
    position: absolute;
    left: 401px;
    width: 72.51px;
    height: 111px;
}

.product-page-child9 {
    top: 444px;
    object-fit: cover;
}

.product-page-child10 {
    top: 563px;
    background-color: #1e1e1e;
}

.div60 {
    position: absolute;
    top: 590px;
    left: 424px;
    font-size: var(--font-size-31xl);
    font-weight: 600;
    color: var(--color-white);
}

.customer-also-love,
.view-more {
    position: absolute;
    top: 840px;
    font-weight: 600;
}

.customer-also-love {
    left: 108px;
    font-size: var(--font-size-31xl);
    letter-spacing: 0.14em;
}

.view-more {
    left: 1104px;
    font-size: var(--title-desktop-size);
    color: var(--color-gray-200);
}

.div61,
.product8 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
}

.product8 {
    font-weight: 600;
    width: 108px;
    height: 39px;
}

.div61 {
    font-size: var(--title-mobile-size);
    width: 72px;
    height: 31px;
}

.product-parent10,
.product-parent11,
.product-parent12,
.product-parent5,
.product-parent6,
.product-parent7,
.product-parent8,
.product-parent9 {
    position: absolute;
    top: 1289px;
    left: 207px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--title-desktop-size);
}

.product-parent10,
.product-parent11,
.product-parent12,
.product-parent6,
.product-parent7,
.product-parent8,
.product-parent9 {
    top: 1710px;
}

.product-parent10,
.product-parent11,
.product-parent12,
.product-parent7,
.product-parent8,
.product-parent9 {
    top: 1293px;
    left: 450px;
}

.product-parent10,
.product-parent11,
.product-parent12,
.product-parent8,
.product-parent9 {
    top: 1714px;
}

.product-parent10,
.product-parent11,
.product-parent12,
.product-parent9 {
    top: 1297px;
    left: 693px;
}

.product-parent10,
.product-parent11,
.product-parent12 {
    top: 1718px;
}

.product-parent11,
.product-parent12 {
    top: 1301px;
    left: 936px;
}

.product-parent12 {
    top: 1722px;
}

.product-page-child11,
.product-page-child12,
.product-page-child13,
.product-page-child14 {
    position: absolute;
    top: 975px;
    left: 207px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.product-page-child12,
.product-page-child13,
.product-page-child14 {
    top: 1396px;
}

.product-page-child13,
.product-page-child14 {
    top: 975px;
    left: 449.9px;
}

.product-page-child14 {
    top: 1396px;
}

.product-page-child15,
.product-page-child16,
.product-page-child17,
.product-page-child18 {
    position: absolute;
    top: 975px;
    left: 692.8px;
    width: 199.9px;
    height: 306px;
    object-fit: cover;
}

.product-page-child16,
.product-page-child17,
.product-page-child18 {
    top: 1396px;
}

.product-page-child17,
.product-page-child18 {
    top: 975px;
    left: 935.71px;
}

.product-page-child18 {
    top: 1396px;
}

.heart-icon1,
.product-page-child19 {
    position: absolute;
    top: 439px;
    left: 846.59px;
    width: 24px;
    height: 24px;
}

.heart-icon1 {
    top: 209px;
    left: 1215px;
    width: 44px;
    height: 44px;
}

.product-page {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1910px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-18xl);
    color: var(--second-hover);
    font-family: var(--title-mobile);
}